/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/

/app/Resources/lib
/app/Resources/node_modules
/app/Resources/bower_components

!/web/bundles
/web/bundles/*
!/web/assetic
/web/assetic/*
!/web/vendor/
/web/vendor/*

!/web/images
!/web/images/local
/web/images/*
