        <!-- Services -->
        <div class="services-container">
            <div class="container">
                <div class="row">
                   <div class="col-sm-4">
                       <div class="service wow fadeInUp">
                           <h3>Promotions -50% !</h3>
                           <p>Les offres sur les fers à lisser, les fers à boucler et sèches-cheveux ne s'arrêtent jamais !</p>
                           <a class="big-link-1" href="{{ path('shop_site_gallery') }}">Voir plus</a>
                        </div>
                    </div>
                <div class="col-sm-4">
                    <div class="service wow fadeInUp">
                        <h3>Livraison gratuite</h3>
                        <p>Vous ne payez aucun frais de livraison, nous vous livrons gratuitement partout en France.</p>
                        <a class="big-link-1" href="{{ path('shop_site_shipping') }}">Plus d'informations</a>
                     </div>
                </div>
                <div class="col-sm-4">
                    <div class="service wow fadeInDown">
                        <h3>Garantie à vie</h3>
                        <p>Jose Eber France offre une garantie illimitée de remplacement à vie sur nos produits.</p>
                        <a class="big-link-1" href="{{ path('shop_site_warant') }}">Voir plus</a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
