        <!-- Presentation -->
        <div class="presentation-container">
             <div class="container">
                 <div class="row">
                     <div class="col-sm-12 wow fadeInLeftBig">
                         <h1><span class="violet">ShopName</span>, vos cheveux seront plus brillants, sains et lisses à chaque fois !</h1>
                         <p>Les fers à lisser et fers à boucler ShopName sont entièrement composés de céramique.</p>
                     </div>
                 </div>
             </div>
        </div>
