
        <!-- Text -->

        <div class="{% if text.format == 'flash' %} presentation-container {% else %} about-us-container {% endif %}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 wow {% if text.format == 'standard' %} about-us-text fadeInLeft {% else %} fadeInLeftBig {% endif %}">
                        {{ text.content|raw }}
                    </div>
                </div>
            </div>
        </div>

        <!-- End text -->

